<section data-ng-controller="CalendarsController" data-ng-init="find()">
    <div class="page-header">
        <h1>Calendars</h1>
    </div>
    <div class="list-group">
        <a data-ng-repeat="calendar in calendars" data-ng-href="#!/calendars/{{calendar._id}}" class="list-group-item">
            Calendar Event:<h4 class="list-group-item-heading" data-ng-bind="calendar.name"></h4>
            Event Description:<h4 class="list-group-item-heading" data-ng-bind="calendar.event_desc"></h4>
            Event Location:<h4 class="list-group-item-heading" data-ng-bind="calendar.location"></h4>
            Event Type:<h4 class="list-group-item-heading" data-ng-bind="calendar.event_type"></h4>
			<small class="list-group-item-text">
				Posted on
				<span data-ng-bind="calendar.created | date:'medium'"></span>
				by
				<span data-ng-bind="calendar.user.displayName"></span>
			</small>
			
        </a>
    </div>
    <div class="alert alert-warning text-center" data-ng-hide="!calendars.$resolved || calendars.length">
    	No Calendars yet, why don't you <a href="/#!/calendars/create">create one</a>?
    </div>
</section>